# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Logs
logs
*.log

# Dependency directories
node_modules/
client/node_modules

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variable files
.env*